@import "misins";

@media only screen and (min-width: 754px) and (max-width: 1280px) {
  /*  Nav  */
  .input-search {
    @include flex(flex, none, 100%);
    height: 40px;
    transition: all 2s ease;
    outline: none;
    border: none;
    border-color: none !important;
  }

  .input-search:hover {
    @include flex(flex, none, 92%);
    height: 40px;
    transition: all 2s ease;
    outline-width: 0;
    outline: none;
    border: none;
    border-color: none !important;
  }

  .ul-container {
    @include flex(flex, none, 55%);
    text-align: center;
    flex-direction: row !important;
  }

  .marcas-container {
    margin: 0 !important;
    padding: 0 !important;
  }

  .grid-container-marcas {
    margin-right: 0 !important;
  }
  /*  End Nav  */

  /* Whatsapp */

  .ico-whatsapp {
    @include flex-grid(flex, none, 10px, wrap);
    position: fixed;
    bottom: 35px;
    right: 10px;
    z-index: 9999;
  }

  .ico-whatsapp img {
    @include flex-grid(flex, none, 50%, wrap);
  }

  .aside-grid {
    @include flex-grid(flex, none, 55px, wrap);
    position: fixed;
    bottom: 35px;
    right: 30px;
    z-index: 9999;
  }

  .img-container-grid div {
    @include flex-grid(flex, none, 100%, wrap);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    border-radius: 6px;
    transition: all 1.3s ease;
  }

  .img-container-grid img {
    width: 40px;
    border-radius: 6px;
    transition: all 1.3s ease;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
  }

  .img-container-grid img:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
  }

  .aside-mascota {
    display: none;
  }

  /* End Whatsapp */

  /* Información adicional */

  .inf-ad-container {
    margin: 80px 0;
    width: 100%;
  }

  .items-inf-ad {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
      rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
      rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  }

  .items-inf-ad:hover {
    @include bg-loyevo(
      linear-gradient(300deg, $bg-yellow, $bg-pink),
      600% 100%,
      AnimationName 20s ease infinit,
      AnimationName 20s ease infinit,
      AnimationName 20s ease infinit,
      AnimationName 20s ease infinit
    );
    border-radius: 10px;
  }

  .ico-inf-ad {
    @include flex(flex, none, 22%);
    align-items: center;
  }

  .txt-inf-ad {
    @include font(8px, 1000, none);
    display: flex;
    align-items: center;
    margin-bottom: 0 !important;
  }

  .inf-ad-container {
    @include flex(flex, center, 100%);
  }

  /* End Información adicional */

  /* Redes */

  .redes {
    @include flex(flex, center, 100%);
  }

  .li-redes {
    @include flex(flex, center !important, 9%);
    list-style: none;
    margin-top: 2px;
  }

  .img-redes {
    @include flex(flex, none, 100%);
    flex-direction: column;
  }

  .link-redes {
    display: flex;
    text-decoration: none;
    filter: brightness(0) saturate(100%) invert(100%) saturate(2%)
      hue-rotate(221deg) brightness(106%) contrast(101%);
    transition: all 1.3s ease;
  }

  .link-redes:hover {
    filter: brightness(0) saturate(100%) invert(79%) sepia(9%) saturate(6816%)
      hue-rotate(2deg) brightness(110%) contrast(102%);
    transform: scale(1.1);
    color: $bg-yellow;
    transform: scale(1.1);
    transition: all 1.3s ease;
  }

  .footer-container {
    width: 100%;
    height: 200px;
    justify-content: center;
  }

}

@media only screen and (min-width: 600px) and (max-width: 754px) {
  /* Whatsapp */

  .ico-whatsapp {
    @include flex-grid(flex, none, 10px, wrap);
    position: fixed;
    bottom: 35px;
    right: 10px;
    z-index: 9999;
  }

  .ico-whatsapp img {
    @include flex-grid(flex, none, 50%, wrap);
  }

  .aside-grid {
    @include flex-grid(flex, none, 55px, wrap);
    position: fixed;
    bottom: 35px;
    right: 30px;
    z-index: 9999;
  }

  .img-container-grid div {
    @include flex-grid(flex, none, 100%, wrap);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    border-radius: 6px;
    transition: all 1.3s ease;
  }

  .img-container-grid img {
    width: 40px;
    border-radius: 6px;
    transition: all 1.3s ease;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
  }

  .img-container-grid img:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
  }

  .aside-mascota {
    display: none;
  }

  /* End Whatsapp */

  /* Información adicional */

  .inf-ad-container {
    margin: 80px 0;
    width: 100%;
  }

  .items-inf-ad {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
      rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
      rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  }

  .items-inf-ad:hover {
    @include bg-loyevo(
      linear-gradient(300deg, $bg-yellow, $bg-pink),
      600% 100%,
      AnimationName 20s ease infinit,
      AnimationName 20s ease infinit,
      AnimationName 20s ease infinit,
      AnimationName 20s ease infinit
    );
    border-radius: 10px;
  }

  .ico-inf-ad {
    @include flex(flex, none, 22%);
    align-items: center;
  }

  .txt-inf-ad {
    @include font(8px, 1000, none);
    display: flex;
    align-items: center;
    margin-bottom: 0 !important;
  }

  .inf-ad-container {
    @include flex(flex, center, 100%);
  }

  /* End Información adicional */
  

  /* Redes */

  ul {
    padding-left: 0 !important;    
   }

  .redes {
    @include flex(flex, center, 100%);
  }

  .li-redes {
    @include flex(flex, center !important, 15%);
    list-style: none;
    margin-top: 2px;
  }

  .img-redes {
    @include flex(flex, none, 10%);
    flex-direction: column;
  }

  .link-redes {
    display: flex;
    text-decoration: none;
    filter: brightness(0) saturate(100%) invert(100%) saturate(2%)
      hue-rotate(221deg) brightness(106%) contrast(101%);
    transition: all 1.3s ease;
  }

  .link-redes:hover {
    filter: brightness(0) saturate(100%) invert(79%) sepia(9%) saturate(6816%)
      hue-rotate(2deg) brightness(110%) contrast(102%);
    transform: scale(1.1);
    color: $bg-yellow;
    transform: scale(1.1);
    transition: all 1.3s ease;
  }
}

@media only screen and (min-width: 280px) and (max-width: 600px) {

    /*  Nav  */

    .logo-container {
      width: 28%;
      padding: 0!important;
      margin: 0 !important;
    }

    .input-search {
      @include flex(flex, none, 100%);
      height: 40px;
      transition: all 2s ease;
      outline: none;
      border: none;
      border-color: none !important;
    }
  
    .input-search:hover {
      @include flex(flex, none, 88%);
      height: 40px;
      transition: all 2s ease;
      outline-width: 0;
      outline: none;
      border: none;
      border-color: none !important;
    }
  
    .ul-container {
      @include flex(flex, none, 100%);
      text-align: center;
      flex-direction: row !important;
    }

  
    .marcas-container {
      margin: 0 !important;
      padding: 0 !important;
    }
  
    .grid-container-marcas {
      margin-right: 0 !important;
    }
    /*  End Nav  */


   /* Redes */

   ul {
    padding-left: 0 !important;    
   }

   .redes {
    @include flex(flex, center,100%);
  }

  .li-redes {
    @include flex(flex, center !important, 20%);
    list-style: none;
  }

  .img-redes {
    @include flex(flex, center, 100%);
    flex-direction: column;
  }

  .link-redes {
    display: flex;
    text-decoration: none;
    filter: brightness(0) saturate(100%) invert(100%) saturate(2%)
      hue-rotate(221deg) brightness(106%) contrast(101%);
    transition: all 1.3s ease;
  }

  .link-redes:hover {
    filter: brightness(0) saturate(100%) invert(79%) sepia(9%) saturate(6816%)
      hue-rotate(2deg) brightness(110%) contrast(102%);
    color: $bg-yellow;
    transition: all 1.3s ease;
  }

  .ul-footer {
    @include flex(flex, center, none);
  }

  .li-footer {
    @include flex(flex, center, none);
    list-style: none;
  }

  .a-footer {
    @include flex(flex, center, none);
    @include font(12px, 600, $bg-white);
    text-decoration: none;
    transition: all 1.3s ease;
    margin-bottom: 8px
  }

  .a-footer:hover {
    @include flex(flex, center, none);
    list-style: none;
    color: $bg-yellow;
    transform: scale(1.1);
    transition: all 1.3s ease;
    font-weight: 600;
  }

  .p-footer {
    @include flex(flex, center, 100%);
    @include font(8px, 600, $bg-white);
    padding-right: 20px;
    text-align: ceil($number: 0);
  }

  .inf-ad-container {
    display: none;
  }
  /* End Redes */

    /* Whatsapp */

    .ico-whatsapp {
      @include flex-grid(flex, none, 10px, wrap);
      position: fixed;
      bottom: 35px;
      right: 10px;
      z-index: 9999;
    }
  
    .ico-whatsapp img {
      @include flex-grid(flex, none, 50%, wrap);
    }
  
    .aside-grid {
      @include flex-grid(flex, none, 55px, wrap);
      position: fixed;
      bottom: 35px;
      right: 10px;
      z-index: 9999;
    }
  
    .img-container-grid div {
      @include flex-grid(flex, none, 100%, wrap);
      box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
        rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
      border-radius: 6px;
      transition: all 1.3s ease;
    }
  
    .img-container-grid img {
      width: 40px;
      border-radius: 6px;
      transition: all 1.3s ease;
      transform: scale(1);
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
    }
  
    .img-container-grid img:hover {
      transform: scale(1.2);
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
    }
  
    .aside-mascota {
      display: none;
    }
  
    /* End Whatsapp */


    .box-pd-conteiner {
      margin: 20px 0 0 0;

    }

  /* Footer de Defensa al consumidor y politicas de devolución */

    .title-h1 {
      font-size: 25px;
      margin: 30px 0 0 0;
      padding: 0 !important;
    }
  
    .box-pd-p {
      font-size: 11px;
      display: flex;
      flex-direction: row;
      margin: 0 !important;
      padding: 0 !important;
    }
  
    .container-pddf {
      position: sticky;
      bottom: 0 !important;
    }
   /* End Footer de Defensa al consumidor y politicas de devolución */
}
