/* Paleta de colores */
$bg-yellow: #ffd500;
$bg-pink: #c74693;
$bg-pink-2: #e72385;
$bg-violet: #6736bc;
$bg-violet-2: #50267d;
$bg-white: #fff;
$bg-black: #000;
$bg-Gris: #ebebeb;

/* Fuente */
$font: "montserrat";
